@model SubscribeViewModel

<section class="subscribe">
    <div class="container">
        <div class="title">
            <h2>Don't Want to Miss Anything</h2>
            <img src="~/images/icons/swirl-arrow-icon.svg" alt="swirl arrow" />
        </div>
    </div>
</section>