@{
    ViewData["Title"] = "Home";
}

<section class="task-management">

</section>

<section class="task-organizer">

</section>

<section class="split-screen">

</section>

<section class="work-calender">

</section>

<section class="app-download">

</section>

<section class="work-tools">

</section>







<partial name="_SubscribeToNewsletter" />